# Housing price prediction using Linear Regression

## Importing main libraries

In [76]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Importing data

In [77]:
dataset = pd.read_csv("Real estate.csv")
dataset

,No,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
409,410,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,6.5,90.45606,9,24.97433,121.54310,63.9

## Preprocessing data for our use

In [78]:
X = dataset.iloc[:,1:6].values
y = dataset.iloc[:,6:7].values

In [79]:
X.shape

(414, 5)

In [80]:
y.shape

(414, 1)

## Dividing data into training and testing set

In [81]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

## Importing and applying Linear Regression

In [82]:
from sklearn.linear_model import LinearRegression
lin_reg=LinearRegression()
lin_reg.fit(X_train,y_train)

LinearRegression()

## Testing our score against Test set

In [83]:
score = lin_reg.score(X_test, y_test)
print(score)

0.5571283505007516

### 0.55 means our accuracy rate is 55%